 .gradient{
	background: linear-gradient(300deg, #1A120B, #3C2A21, #D5CEA3);
	background-size: 180% 180%;
	animation: gradient 25s ease infinite;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    font-family: 'Lora', serif;
    font-style: italic;
}

p{
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    
}

.profpic{
    height: 100px;
    width: 95px;
    border-radius: 50%;
    border: #3C2A21 solid;
    filter: drop-shadow(15px 10px 20px black);
}

h2{
    font-family: 'Lora', serif;
}

#paragraphbelowintro{
    line-height: 100%;
}

#carousel{
    width: 50%;

}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav-item{
    color: white;
}

footer{
    color: white;
}

 @media only screen and (max-width:768px) {
    #carousel{
        width: 100%;
    }
 }